<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TwitchGame" value="Splatoon"/>
    <add key="TwitchClientId" value="rbjamg7tzddswxh01r01i94fd1unar6"/>
    <add key="ChallongeApiKey" value="LnhCLWcaBIVngtT2V4WSpieRniXKT4UmEKJiIC5k"/>
  </appSettings>
</configuration>